/* style.css - Cafaalia SMP (Official Minecraft Theme + Transparent Glassmorphism) */

body {
    font-family: 'Inter', sans-serif;
    background-color: #121212; 
    
    /* Background main.jpg dengan Overlay Gelap 40% (Cerah 60%) */
    background-image: linear-gradient(rgba(18, 18, 18, 0.4), rgba(18, 18, 18, 0.5)), url('main.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    
    color: #f8fafc;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.font-lexend { 
    font-family: 'Lexend', sans-serif; 
}

/* Minecraft Style Cards - TRANSPARAN (Glassmorphism) */
.mc-card {
    background-color: rgba(26, 26, 26, 0.65); /* Transparan 65% */
    backdrop-filter: blur(12px); /* Efek blur kaca dari belakang */
    -webkit-backdrop-filter: blur(12px);
    border: 1px solid rgba(255, 255, 255, 0.1); /* Border super tipis elegan */
    transition: all 0.2s ease-in-out;
}

.mc-card:hover {
    border-color: #4CAF50; /* Green highlight on hover */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5); 
    transform: translateY(-4px);
}

/* Minecraft Style 3D Button */
.mc-btn {
    background-color: #3C8527; /* MC Grass Green */
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-bottom: 4px solid #1E5114; /* 3D bottom edge */
    transition: all 0.1s;
    border-radius: 4px;
}

.mc-btn:hover {
    background-color: #4CAF50;
}

.mc-btn:active {
    border-bottom: 0px solid #1E5114;
    transform: translateY(4px); /* Animasi kepencet */
}

/* Scrollbar Boxy */
::-webkit-scrollbar { width: 10px; }
::-webkit-scrollbar-track { background: transparent; }
::-webkit-scrollbar-thumb { background: #333333; border: 1px solid #121212; border-radius: 5px; }
::-webkit-scrollbar-thumb:hover { background: #4CAF50; }

/* Toast */
.toast-hidden { opacity: 0; transform: translate(-50%, 20px) scale(0.9); pointer-events: none; }
.toast-visible { opacity: 1; transform: translate(-50%, 0) scale(1); }

.animate-tab {
    animation: fadeIn 0.4s cubic-bezier(0.4, 0, 0.2, 1) forwards;
}

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(10px); }
    to { opacity: 1; transform: translateY(0); }
}

.nav-scroll::-webkit-scrollbar { display: none; }
.nav-scroll { -ms-overflow-style: none; scrollbar-width: none; }
