/* style.css - Cafaalia SMP (Official Minecraft Theme + Background main.jpg) */

body {
    font-family: 'Inter', sans-serif;
    background-color: #121212; 
    
    /* Background main.jpg dengan Overlay Gelap Estetik */
    background-image: linear-gradient(rgba(18, 18, 18, 0.8), rgba(18, 18, 18, 0.95)), url('main.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed; /* Terkunci saat scroll, efek dalam */
    background-repeat: no-repeat;
    
    color: #f8fafc;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.font-lexend { 
    font-family: 'Lexend', sans-serif; 
}

/* Minecraft Style Cards (Solid, Boxy, Dark) */
.mc-card {
    background-color: #1a1a1a;
    border: 2px solid #333333;
    transition: all 0.2s ease-in-out;
}

.mc-card:hover {
    border-color: #4CAF50; /* Green highlight on hover */
    box-shadow: 0 8px 0 rgba(0, 0, 0, 0.4); /* Bayangan keras ala retro game */
    transform: translateY(-4px);
}

/* Minecraft Style 3D Button */
.mc-btn {
    background-color: #3C8527; /* MC Grass Green */
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-bottom: 4px solid #1E5114; /* 3D bottom edge */
    transition: all 0.1s;
}

.mc-btn:hover {
    background-color: #4CAF50;
}

.mc-btn:active {
    border-bottom: 0px solid #1E5114; /* Tombol neken ke bawah */
    transform: translateY(4px); 
}

/* Scrollbar Boxy */
::-webkit-scrollbar { width: 10px; }
::-webkit-scrollbar-track { background: transparent; }
::-webkit-scrollbar-thumb { background: #333333; border: 1px solid #121212; }
::-webkit-scrollbar-thumb:hover { background: #4CAF50; }

/* Toast */
.toast-hidden { opacity: 0; transform: translate(-50%, 20px) scale(0.9); pointer-events: none; }
.toast-visible { opacity: 1; transform: translate(-50%, 0) scale(1); }

.animate-tab {
    animation: fadeIn 0.3s ease-out forwards;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

.nav-scroll::-webkit-scrollbar { display: none; }
.nav-scroll { -ms-overflow-style: none; scrollbar-width: none; }
